name: Run tests

on:
    push:
      branches:
        - main
    
    pull_request:
      branches:
        - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run tests
        run: pytest

      
        
	# your task: figure out the remainings steps 
	# that match your selected language. 
	# Hint: follow slide 11 for inspiration
	# You should first find an action that sets up the environment
	# for your selected programming language. 
	# You should then set up the steps to run similar to how you run
	# them locally